# Core dependencies
numpy
scipy
matplotlib
pandas
tqdm
pyyaml
pyvis
networkx
plotly
kaleido
nbformat
mdtraj
pysimm
pdb2pqr
propka
# mead # This is not a pypi package
delphi-parser
py4j
pyjnius
jax
jaxlib
optax
flax
tensorflow
keras
torch
torchvision
torchaudio
gym
stable-baselines3
ale-py
box2d-py
pyglet
opencv-python
scikit-learn
scikit-image
pillow
imageio
moviepy
ffmpeg-python
soundfile
pydub
librosa
pretty_midi
music21
magenta
sonnet
acme
reverb
trfl
dm-sonnet
dm-reverb
dm-acme
dm-trfl
dm-control
dm-env
dm-haiku
dm-optax
dm-rlax
dm-tree
chex
optax
rlax
tree
graph_nets
tensorflow-probability
tensorflow-datasets
# tensorflow-me # This is not a pypi package
